.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 10vh;
  z-index: 9999;

  display: flex;
  align-items: center;

  padding: 0 20px;
  box-sizing: border-box;

  background-color: #ffffff;
  border-bottom: 1px solid #d1d5db;
}


.header-title {
  
}
.header-logo {
  max-height: 6vh;
  width: auto;
  display: block;
}

.login-button {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  line-height: 1;
  padding: 10px 20px;
  margin-right: 10px;
  color: #ffffff;
  background-color: #000000;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}


